**/*.npy
**/*.pyc
**/*-checkpoint.ipynb
**/*.egg

**/dist

/mpnet/output/

**/.vscode/
**/.ipynb_checkpoints
**/__pycache__/

**.gif
*.zip
data_gen/trajectories

mpnet/exported
mpc-mpnet.code-workspace

results.bk
params.bk